@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 220 15% 20%; /* Dark Blue */
    --card: 0 0% 100%; /* White */
    --card-foreground: 220 15% 20%; /* Dark Blue */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 220 15% 20%; /* Dark Blue */
    --primary: 220 60% 50%; /* Light Blue */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 220 15% 20%; /* Dark Blue */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 0 0% 95%; /* Light Gray */
    --muted-foreground: 220 15% 20%; /* Dark Blue */
    --accent: 220 60% 50%; /* Light Blue */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 80%; /* Gray */
    --input: 0 0% 95%; /* Light Gray */
    --ring: 220 60% 50%; /* Light Blue */
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 15% 20%; /* Dark Blue */
    --foreground: 0 0% 100%; /* White */
    --card: 220 15% 20%; /* Dark Blue */
    --card-foreground: 0 0% 100%; /* White */
    --popover: 220 15% 20%; /* Dark Blue */
    --popover-foreground: 0 0% 100%; /* White */
    --primary: 0 0% 100%; /* White */
    --primary-foreground: 220 15% 20%; /* Dark Blue */
    --secondary: 220 60% 50%; /* Light Blue */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 220 15% 20%; /* Dark Blue */
    --muted-foreground: 0 0% 100%; /* White */
    --accent: 220 60% 50%; /* Light Blue */
    --accent-foreground: 0 0% 100%; /* White */
    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 220 15% 20%; /* Dark Blue */
    --input: 220 15% 20%; /* Dark Blue */
    --ring: 0 0% 100%; /* White */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  --uib-size: 80px;
  --uib-color: #001189;
  --uib-speed: 1.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 1.667) infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}

.loader::before {
  animation: orbit var(--uib-speed) linear infinite;
}

.loader::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translateX(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translateX(calc(var(--uib-size) * -0.25)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translateX(calc(var(--uib-size) * -0.235)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translateX(calc(var(--uib-size) * -0.182)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translateX(calc(var(--uib-size) * -0.129)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translateX(calc(var(--uib-size) * -0.076)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateX(calc(var(--uib-size) * 0.076)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translateX(calc(var(--uib-size) * 0.129)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translateX(calc(var(--uib-size) * 0.182)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translateX(calc(var(--uib-size) * 0.235)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translateX(calc(var(--uib-size) * 0.25)) scale(0.73684);
    opacity: 0.65;
  }
}
